<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />    
  <param
    name="robot_description"
    textfile="$(find aubo_description)/urdf/aubo_i3.urdf" />    

  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="ik_solvers"
    pkg="ik_solvers"
    type="aubo_iksolver_interploted" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find aubo_description)/urdf/urdf.rviz" />
</launch>
